.logo{
  height: 56px;
  color: #ffffff;
  background: #5C16C5;
  font-size: 24px;
  cursor: pointer;

  @media screen and(max-width:360px){
    display: flex;
    justify-content: center;
  }

  img{
    width: 184px;
    height: 24px;
    color: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    margin: 15px 0 15px 112px;

    @media screen and(max-width:360px){
      margin-left: 0;
      height: 20px;
    }

    
  } 
}