.headerHome{
  background: #2D0C5E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width:584px){
    align-items: flex-start;
  }
  

  h1{
    font-size: 48px;
    color: #fff;
    max-width: 781px;
    text-align: center;
    margin: 80px 16px 40px;

    @media screen {
      
      @media (max-width:800px){
      font-size:38px;
      }   

      @media (max-width:584px){
        font-size:30px;
        text-align: left;
      }
      @media (max-width:360px){
        font-size:24px;
      }
   }
  }

  p{
    font-size: 14px;
    color: #fff;

    @media screen and(max-width:584px){

    margin-left: 16px;
    }
  }

  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1033px;
    margin: 0 16px 90px 13px;
    
    li{
      list-style: none;
      margin: 24px 5px 0 5px;
    
      button{
        border: none;
        color: #000;
        background: #fff;
        font-size:16px;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

